!!! 5
%html
  %head
    %title ~
    %link{rel: "stylesheet", type: "text/css", href: "assets/css/style.css"}
  %body
    %ul
      %li
        %a{href: "http://boards.4chan.org/a/"} /a/
      %li
        %a{href: "http://boards.4chan.org/g/"} /g/
      %li
        %a{href: "http://reddit.com" } reddit
