* {
  border: 0; padding: 0; margin: 0;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  background: black url('../images/wall.jpg') no-repeat 50% 0%;
  color: #000;

  font-family: "Helvetica Neue";
  font-size: 1em;
  text-align: center;
}

ul {
  max-width: 400px;
  width: 100%;
  text-align: left; 
  margin: 100px auto;
}

li { 
  /* Round corners */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  /* Add hard shadow */
  -webkit-box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    2px 2px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         2px 2px 0px rgba(50, 50, 50, 0.15);

  /* Gradient background */
  background-image: linear-gradient(bottom, rgb(38,38,38) 0%, rgb(46,46,46) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(38,38,38) 0%, rgb(46,46,46) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(38,38,38) 0%, rgb(46,46,46) 100%);

  list-style-type: none;
  margin: 10px 5px;
}
li:hover {
  /* Darken background */
  background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(26,26,26) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(26,26,26) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(26,26,26) 100%);
}

li a {
  display: block;
  
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  
  padding: 20px;
}
li a:hover {
  text-shadow: 1px 1px 0px rgba(66, 66, 66, 1);
}
